body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

/* HERO */
section.hero {
    background-color: #040D22;
    position: relative;
    overflow: hidden;
}

/* HERO BACKGROUND */
section.hero img.globe {
    width: 800px;
    position: absolute;
    top: -5%;
    left: 46%;
}

section.hero img.glow {
    width: 200%;
    height: 200%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* HERO HEADER */
section.hero header .container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

section.hero header .container .logo {
    margin-right: 30px;
}

section.hero header .container .nav {
    display: flex;
    justify-content: start;
    flex-direction: row;
    flex-grow: 1;
    color: #f8f9fa;
}

section.hero header .container .nav .nav-list {
    margin-right: 20px;
}

section.hero header .container .form {
    display: flex;
}

section.hero header .container .form .form-control {
    color: white;
    background-color: rgba(255, 255, 255, .15);
    border-color: rgba(255, 255, 255, .3);
}

section.hero header .container .form .btn {
    flex-shrink: 0;
    color: white;
}

section.hero header .container .form .form-control::placeholder {
    color: rgba(255, 255, 255, .6);
}

/* HERO DESCRIPTION */
section.hero .desc-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-top: 160px;
    padding-bottom: 160px;
    padding-left: 200px;
}

section.hero .desc-container .headline {
    grid-column: 1/7;
}

section.hero .desc-container .headline h1 {
    color: white;
    font-size: 68px;
    font-weight: 700;
}

section.hero .desc-container .headline p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 26px;
}

section.hero .desc-container form {
    grid-column: 1/5;
    display: flex;
    flex-direction: column;
    row-gap: 7px;
}

section.hero .desc-container form input {
    border-radius: .3rem;
    border: 1px solid #ced4da;
    padding: .5rem 1rem;
}

section.hero .desc-container form button {
    color: #fff;
    border-radius: .3rem;
    background-color: #0d6efd;
    border-color: #0d6efd;
    padding: .5rem 1rem;
}

section.hero .desc-container form button:hover {
    color: #fff;
    border-radius: .3rem;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

section.hero .curve{
    position: absolute;
    bottom: -1px;
    left: 0;
}

/* YOUTUBE SECTION */
section.youtube .container {
    position: relative;
    padding-top: 90px;
    padding-bottom: 70px;
}

section.youtube img.astronaut {
    width: 480px;
    position: absolute;
    top: -420px;
    right: 0;
}

section.youtube .ratio {
    border-radius: 10px;
    overflow: hidden;
    background-color: black;
}

/* FEATURES SECTION */
section.features .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section.features .card {
    color: #627597;
    border: none;
}

section.features .card img {
    
    padding: 30px 60px;
}

section.map {

}
section.map .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-top: 100px;
    padding-bottom: 100px;
    color: #627597;
}
section.map .map-description {
    grid-column: 1/5;
}
section.map h1 {
    font-weight: 700;
    font-size: 44px;
}
section.map p {
    font-size: 24px;
}
#map {
    grid-column: 5/13;
    height: 500px;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 10px;
    z-index: 1;
}
